### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
player_number = purchase_data.SN.count()
player_number

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = purchase_data["Item ID"].nunique()
unique_items

179

In [5]:
avg_price = purchase_data["Price"].mean()
avg_price

3.050987179487176

In [6]:
gendergroup = purchase_data.groupby("Gender")

genderunique = gendergroup.nunique()["SN"]

totalplayers = genderunique.sum()

percent = genderunique / totalplayers *100

In [7]:
summary_df = pd.DataFrame([{
    "Total Number of Players": totalplayers,
    "Average Price": avg_price, 
    "Number of Unique Items": unique_items}])
summary_df

   Total Number of Players  Average Price  Number of Unique Items
0                      576       3.050987                     179

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
gudf = pd.DataFrame(genderunique)

gudf.head()

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11

In [9]:
malecount = gudf.loc["Male", :]
femalecount = gudf.loc["Female", :]
othercount = gudf.loc["Other / Non-Disclosed", :]

In [10]:
malepercent = malecount / totalplayers * 100
femalepercent = femalecount / totalplayers * 100
otherpercent = othercount / totalplayers * 100

In [11]:
genderstats = pd.DataFrame({"Percent of Players": percent, "Total": genderunique})
genderstats["Percent of Players"] = genderstats["Percent of Players"].map("{: .2f}%".format)

genderstats

                      Percent of Players  Total
Gender
Female                            14.06%     81
Male                              84.03%    484
Other / Non-Disclosed              1.91%     11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
grouped_purchase_count = gendergroup.count()["Purchase ID"]

grouped_purchase_avg = gendergroup.mean()["Price"]

grouped_purchase_total = gendergroup.sum()["Price"]

avg_total_ppp = grouped_purchase_total / genderunique

In [13]:
gendersummary_df = pd.DataFrame({
    "Purchase Count": grouped_purchase_count,
    "Average Purchase Price": grouped_purchase_avg, 
    "Total Purchase Value": grouped_purchase_total,
    "Avg Total Purchase per Person": avg_total_ppp})
gendersummary_df.index.name = "Gender"

gendersummary_df["Average Purchase Price"] = gendersummary_df["Average Purchase Price"].map("${: .2f}".format)
gendersummary_df["Total Purchase Value"] = gendersummary_df["Total Purchase Value"].map("${: .2f}".format)
gendersummary_df["Avg Total Purchase per Person"] = gendersummary_df["Avg Total Purchase per Person"].map("${: .2f}".format)

gendersummary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$ 3.20,$ 361.94,$ 4.47
Male,652,$ 3.02,$ 1967.64,$ 4.07
Other / Non-Disclosed,15,$ 3.35,$ 50.19,$ 4.56

## Age Demographics

In [14]:
#establishing bins
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
binnames = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#create new segment Age Range based on the bins
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=binnames, include_lowest=True)

agegrouped = purchase_data.groupby("Age Range")

#calculate the numbers and percentages by age group
totalagecount = agegrouped["SN"].nunique()

agepercent = totalagecount / totalplayers *100

#summarytable
agesummary_df = pd.DataFrame({
    "Age Count": totalagecount,
    "Percent of Players by Age": agepercent})
agesummary_df.index.name = "Age Range"

agesummary_df["Percent of Players by Age"] = agesummary_df["Percent of Players by Age"].map("{: .2f}%".format)



agesummary_df

           Age Count Percent of Players by Age
Age Range
<10               17                     2.95%
10-14             22                     3.82%
15-19            107                    18.58%
20-24            258                    44.79%
25-29             77                    13.37%
30-34             52                     9.03%
35-39             31                     5.38%
40+               12                     2.08%

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
agegrouped.head()

#purchase count
agegrouppurchasecount = agegrouped.count()["Purchase ID"]

#avg purchase price
agegroupavgprice = agegrouped.mean()["Price"]

#total purchase value
agegroupavgprice = agegrouped.sum()["Price"]

#Avg Total Purchase per Person
ageavg_total_ppp = agegroupavgprice / totalagecount

#summary
bigagesummary_df = pd.DataFrame({
    "Purchase Count": agegrouppurchasecount,
    "Average Purchase Price": agegroupavgprice, 
    "Total Purchase Value": agegroupavgprice,
    "Avg Total Purchase per Person": ageavg_total_ppp})
bigagesummary_df.index.name = "Age Range"

bigagesummary_df["Average Purchase Price"] = bigagesummary_df["Average Purchase Price"].map("${: .2f}".format)
bigagesummary_df["Total Purchase Value"] = bigagesummary_df["Total Purchase Value"].map("${: .2f}".format)
bigagesummary_df["Avg Total Purchase per Person"] = bigagesummary_df["Avg Total Purchase per Person"].map("${: .2f}".format)

bigagesummary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$ 77.13,$ 77.13,$ 4.54
10-14,28,$ 82.78,$ 82.78,$ 3.76
15-19,136,$ 412.89,$ 412.89,$ 3.86
20-24,365,$ 1114.06,$ 1114.06,$ 4.32
25-29,101,$ 293.00,$ 293.00,$ 3.81
30-34,73,$ 214.00,$ 214.00,$ 4.12
35-39,41,$ 147.67,$ 147.67,$ 4.76
40+,13,$ 38.24,$ 38.24,$ 3.19

In [16]:
#set up so it is just those usernames

snindex = purchase_data.set_index("SN")

locsn = snindex.loc[["Lisosia93", "Idastidru52", "Chamjask73","Iral74","Iskadarya95"],:]

groupsn = locsn.groupby("SN")

#purchase count
sngrouppurchasecount = groupsn.count()["Purchase ID"]

#avg purchase price
sngroupavgprice = groupsn.mean()["Price"]

#total purchase value
sngroupavgprice = groupsn.sum()["Price"]

#summary
topspendsummary_df = pd.DataFrame({
    "Purchase Count": sngrouppurchasecount,
    "Average Purchase Price": sngroupavgprice, 
    "Total Purchase Value": sngroupavgprice})
topspendsummary_df.index.name = "SN"

topspendsummary_df["Average Purchase Price"] = topspendsummary_df["Average Purchase Price"].map("${: .2f}".format)
topspendsummary_df["Total Purchase Value"] = topspendsummary_df["Total Purchase Value"].map("${: .2f}".format)

ascendtopspendsummary_df = topspendsummary_df.sort_values("Total Purchase Value", ascending=False)

ascendtopspendsummary_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                $ 18.96              $ 18.96
Idastidru52               4                $ 15.45              $ 15.45
Chamjask73                3                $ 13.83              $ 13.83
Iral74                    4                $ 13.62              $ 13.62
Iskadarya95               3                $ 13.10              $ 13.10

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
#set up
itemloc = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]

groupitem = itemloc.groupby(["Item ID", "Item Name"])

#purchase count
itemgrouppurchasecount = groupitem.count()["Price"]

#Value per Item
itemgroupvalueperitem = groupitem.sum()["Price"]

#Item Price
itemprice = itemgroupvalueperitem/itemgrouppurchasecount

#summary
itemsummary_df = pd.DataFrame({
    "Purchase Count": itemgrouppurchasecount,
    "Item Price": itemprice, 
    "Total Purchase Value": itemgroupvalueperitem})
itemsummary_df.index.name = "Item ID"

itemsummary_df["Item Price"] = itemsummary_df["Item Price"].map("${: .2f}".format)
itemsummary_df["Total Purchase Value"] = itemsummary_df["Total Purchase Value"].map("${: .2f}".format)

ascenditemsummary_df = itemsummary_df.sort_values("Purchase Count", ascending=False)

ascenditemsummary_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$ 4.61,$ 59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
132,Persuasion,9,$ 3.22,$ 28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$ 3.53,$ 31.77

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
#set up
itemloc = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]

groupitem = itemloc.groupby(["Item ID", "Item Name"])

#purchase count
itemgrouppurchasecount = groupitem.count()["Price"]

#Value per Item
itemgroupvalueperitem = groupitem.sum()["Price"]

#Item Price
itemprice = itemgroupvalueperitem/itemgrouppurchasecount

#summary
itemsummary_df = pd.DataFrame({
    "Purchase Count": itemgrouppurchasecount,
    "Item Price": itemprice, 
    "Total Purchase Value": itemgroupvalueperitem})
itemsummary_df.index.name = "Item ID"

mostprofitable = itemsummary_df.sort_values(by="Total Purchase Value", ascending=False)

mostprofitable["Item Price"] = mostprofitable["Item Price"].map("${: .2f}".format)
mostprofitable["Total Purchase Value"] = mostprofitable["Total Purchase Value"].map("${: .2f}".format)

mostprofitable.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$ 4.61,$ 59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
82,Nirvana,9,$ 4.90,$ 44.10
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
103,Singed Scalpel,8,$ 4.35,$ 34.80

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame